# ========================================
# 敏感配置文件 - 请勿提交到版本控制系统
# ========================================

# 短信密钥
SMS_ACCOUNT=
SMS_KEY=
SMS_ZONE=

# 支付通道密钥
SHINEUPAY_ID=
SHINEUPAY_KEY=
SHINEUPAY_URL=
OCEANPAY_URL=
OCEANPAY_CODE=
OCEANPAY_KEY=
OCEANPAY_PAYCODE=
DZXUM_URL=
DZXUM_KEY=
DZXUM_MCH_ID=
DZXUM_NOTIFY_URL=
DZXUM_RETURN_URL=
DZXUM_PAY_TYPE=
DZXUM_BANK_CODE=
FASTPAY_URL=
FASTPAY_MCH_ID=
FASTPAY_KEY=
FASTPAY_NOTIFY_URL=
FASTPAY_RETURN_URL=
SUNPAY_URL=
SUNPAY_KEY=
SUNPAY_MCH_ID=
SUNPAY_NOTIFY_URL=
SUNPAY_RETURN_URL=
HTPAY_URL=
HTPAY_KEY=
HTPAY_MCH_ID=
HTPAY_NOTIFY_URL=
HTPAY_RETURN_URL=
FASTPAY2_URL=
FASTPAY2_MCH_ID=
FASTPAY2_KEY=
FASTPAY2_NOTIFY_URL=
FASTPAY2_RETURN_URL=
LEPAY_URL=
LEPAY_KEY=
LEPAY_MCH_ID=
LEPAY_NOTIFY_URL=
LEPAY_RETURN_URL=
MACPAY_URL=
MACPAY_MCH_ID=
MACPAY_NOTIFY_URL=
MACPAY_RETURN_URL=
MACPAY_PRIVATE_KEY=
WAKAPAY_URL=
WAKAPAY_KEY=
WAKAPAY_MCH_ID=
WAKAPAY_NOTIFY_URL=
WAKAPAY_RETURN_URL=
ONEPAY_URL=
ONEPAY_KEY=
ONEPAY_MCH_ID=
ONEPAY_AES=
ONEPAY_NOTIFY_URL=
ONEPAY_RETURN_URL=
MPAY_URL=
MPAY_KEY=
MPAY_MCH_ID=
MPAY_NOTIFY_URL=
MPAY_RETURN_URL=
INRPAY_URL=
INRPAY_KEY=
INRPAY_MCH_ID=
INRPAY_NOTIFY_URL=
INRPAY_RETURN_URL=

# 数据库配置
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

# 佣金比例
COMMISSION=
