{include file="public/header"/}
<style>
    .recharge1 {
        background: #70e6cc
    }

    .recharge1 .balanceTotal {
        padding: 56px 0
    }

    .recharge1 .balanceTotal .current-balance {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
        padding: 0 31px
    }

    .recharge1 .balanceTotal .current-balance .money {
        font-size: 28px;
        font-family: Rubik-Medium;
        font-weight: 700;
        color: #fff
    }

    .recharge1 .balanceTotal .current-balance div {
        font-size: 15px;
        font-family: Rubik-Medium;
        font-weight: 700;
        color: #fff
    }

    .recharge1 .input {
        background: #fff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
        font-size: 28px;
        font-family: Rubik-Bold, Rubik;
        font-weight: 700;
        color: #39324b;
        padding: 30px 50px 8px 50px
    }

    .recharge1 .input .inputClass {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        padding: 0 60px
    }

    .recharge1 .input .inputClass uni-text {
        font-size: 28px;
        display: inline-block
    }

    .recharge1 .input .inputClass uni-input {
        height: 100%
    }

    .recharge1 .input .inputClass .uni-input-input {
        font-size: 28px;
        font-family: Rubik-Bold, Rubik;
        font-weight: 700;
        color: #39324b;
        display: inline-block;
        height: 100%;
        text-align: left
    }

    .recharge1 .tip {
        background: #fff;
        font-size: 12px;
        font-family: Rubik-Bold, Rubik;
        font-weight: 400;
        color: #000;
        text-align: center;
        padding: 12px 25px
    }

    .recharge1 .main {
        border-top: 2px solid #efefef;
        background: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 25px
    }

    .recharge1 .main .title {
        font-size: 15px;
        font-family: Rubik-Bold, Rubik;
        font-weight: 700;
        color: #25396f;
        margin: 10px 0 20px
    }

    .recharge1 .main .money {
        overflow: hidden;
        padding-bottom: 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }

    .recharge1 .main .money .block {
        width: 30%;
        height: 48px;
        line-height: 48px;
        text-align: center;
        font-size: 18px;
        font-family: Rubik-Bold, Rubik;
        font-weight: 400;
        color: #6b6b6b;
        background: #efefef;
        border-radius: 8px;
        border: 1px solid #ddd;
        float: left;
        margin-top: 20px;
        font-size: 16px
    }

    .recharge1 .main .money > .block:nth-child(1) {
        margin-top: 0px
    }

    .recharge1 .main .money > .block:nth-child(2) {
        margin-top: 0px
    }

    .recharge1 .main .money > .block:nth-child(3) {
        margin-top: 0px
    }

    .recharge1 .main .money .active {
        background: #70e6cc;
        color: #fff
    }

    .recharge1 .main .payment div {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        height: 48px
    }

    .recharge1 .main .payment div uni-image {
        width: 20px;
        height: 20px
    }

    .recharge1 .main .payment div .payment-content {
        width: 90%;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center
    }

    .recharge1 .main .payment div .payment-content uni-text {
        opacity: .8;
        font-size: 14px
    }

    .recharge1 .main .topup {
        height: 48px;
        background: #70e6cc;
        border-radius: 4px;
        line-height: 48px;
        font-size: 18px;
        font-family: Rubik-Bold, Rubik;
        font-weight: 700;
        color: #fff;
        text-align: center
    }

    .recharge1 .main .disable {
        background: #ddd;
        color: #fff
    }

    .recharge1 .main .notice {
        font-size: 14px;
        font-family: Rubik-Bold, Rubik;
        font-weight: 400;
        color: #636f85;
        line-height: 20px;
        padding: 20px 0 150px
    }
    input::-webkit-input-placeholder { 
        font-size: 12px;
    }
</style>

<body>
<uni-app class="uni-app--maxwidth">
    <uni-page data-page="pages/recharge/index">
        <!---->
        <!---->
        <uni-page-wrapper>
            <uni-page-body>
                <div class="recharge1">
                    <div class="top-page"
                         style="height: 44px; background: linear-gradient(to right, rgb(112,230,204), rgb(112,230,204)); color: rgb(255, 255, 255);">
                        <div class="apex"
                             style="height: 44px; line-height: 44px; background: linear-gradient(to right, rgb(112,230,204), rgb(112,230,204)); color: rgb(255, 255, 255); position: fixed;">
                            <a href="javascript:window.history.go(-1)" class="left">
                                <uni-text class="iconfont icon-fanhui1"
                                          style="font-size: 16px; color: rgb(255, 255, 255);"><span></span></uni-text>
                            </a>
                            <div class="center" style="font-size: 17px;">{:lang("recharge2")}</div>
                            <div class="right"></div>
                        </div>
                        <div class="placeholder" style="height: 44px; line-height: 44px;"></div>
                    </div>
                    <div class="balanceTotal">
                        <div class="current-balance">
                            <div>{:lang("balance")}</div>
                            <div class="money">{$user_info.balance}</div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <!---->
                    <div class="input">
                        <div class="inputClass">
                            <uni-text><span></span></uni-text>
                            <uni-input>
                                <div class="uni-input-wrapper">
                                    <div class="uni-input-placeholder input-placeholder" style="display: none;">
                                    </div>
                                    <input id="money" name="money" maxlength="140" step="" enterkeyhint="done" autocomplete="off" type="" class="uni-input-input" value="" placeholder="Enter the amount">
                                    <!---->
                                </div>
                            </uni-input>
                        </div>
                    </div>
                    <div class="tip">
                        <uni-text><span>*{:lang("MinimumRechargeAmount")} 10</span></uni-text>
                    </div>
                    <div class="main">
                        <div class="title">{:lang("QuickSelectMoney")}</div>
                        <div class="money">
                            <!--                            <div class="block">50</div>-->
                            <div class="block">200</div>
                            <div class="block">500</div>
                            <div class="block">1000</div>
                            <div class="block">3000</div>
                            <div class="block">5000</div>
                            <div class="block">10000</div>
                            <div class="block">15000</div>
                            <div class="block">20000</div>
                            <div class="block">25000</div>
                        </div>


                        {volist name="recharge_api" id="vo"}
                        {if $vo.name == 'Oceanpay' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>trc20</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="trc20" style="zoom: 1" checked/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}

                        {if $vo.name == 'Global_pay' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>erc20</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="erc20" style="zoom: 1"/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}

                        {if $vo.name == '51PAY' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>51PAY</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="pay51" style="zoom: 1" />
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if $vo.name == 'Dzxum' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>Uzpay101</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="Dzxum" style="zoom: 1" />
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if $vo.name == 'Dzxum2' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>Uzpay122</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="Dzxum2" style="zoom: 1" />
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                         {if $vo.name == 'FastPay' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>FastPay</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="FastPay" style="zoom: 1" />
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                         {if $vo.name == 'SUNPAY' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>SUN</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="sunpay" style="zoom: 1"  />
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        
                        {if $vo.name == 'HTPAY' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>HTPAY</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="htpay" style="zoom: 1" checked/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        
                        {if $vo.name == 'FASTPAY' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>FASTPAY</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="fastpay2" style="zoom: 1"  checked/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if $vo.name == 'LEPAY' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>LEPAY</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="lepay" style="zoom: 1"  />
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if $vo.name == 'ONEPAY' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>Bkash</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="onepay_easypaisa" style="zoom: 1" checked/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>

                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>Bank</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="onepay_bankcard" style="zoom: 1"/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>

                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>Nagad</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="onepay_jazzcash" style="zoom: 1"/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if $vo.name == 'jazzcash' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>Jazz cash</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="xianxia" style="zoom: 1" checked/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if $vo.name == 'sadapay' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>walletpay</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="xianxia2" style="zoom: 1" checked/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if $vo.name == 'easypaisa' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>Easypaisa</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="xianxia3" style="zoom: 1" checked/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if $vo.name == 'bankcard' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>bankcard</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="xianxia4" style="zoom: 1" checked/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if $vo.name == 'USDT' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>USDT</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="usdt" style="zoom: 1" checked/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if $vo.name == 'wakapay' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>WAKAPAY</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="wakapay" style="zoom: 1"  />
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if $vo.name == 'mpay' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>MPAY</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="mpay" style="zoom: 1"  checked/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if $vo.name == 'inrpay' && $vo.status == 1}
                        <div class="payment">
                            <div>
                                <uni-image>
                                    <div style="background-image: url(&quot;/static/index/c9cf6682-28e5-4ef2-9084-d258a41ff710.png&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;height: 20px;">
                                    </div>
                                    <!---->
                                </uni-image>
                                <div class="payment-content">
                                    <uni-text><span>INRPAY</span></uni-text>
                                    <uni-image>
                                        <input name="type" class="ra" type="radio" value="inrpay" style="zoom: 1"  checked/>
                                    </uni-image>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {/volist}

                        <div id="tijiao" class="topup disable">{:lang("confirm")}</div>
                        <div class="notice"> {:lang("tips")}: {:lang("rechargetips")}
                        </div>
                    </div>
                    {include file="public/footer"/}
                </div>
            </uni-page-body>
        </uni-page-wrapper>
    </uni-page>
</uni-app>
</body>
</html>

<script>

    $('.block').click(function(){
        $("#tijiao").addClass("Confirm");
        $("#tijiao").removeClass("disable");

    });

    $('#tijiao').click(function(){
        var a = $('#money').val();
        if(a!=''){
            if (a<10){
                layer.msg("{:lang('MinimumRechargeAmount')} 10", function () {
                    return false;
                });
                return false;
            }
            var type = $("input[name='type']:checked").val();
            // console.log(type);
            //  var lj = '/ch/recharge/'.type; alert(lj);
            if (type=="usdt"){
                window.location.href="/index/recharge/usdt?a="+a
                return false
            }
            // window.location.href = "/index/recharge/recharge?type="+type+'&money='+a;
            $.ajax({
                url: "{:Url('recharge/recharge')}",
                type: "post",
                traditional: true,
                data: {type: type, money:a},
                success: function (e) {
                    layer.closeAll('loading');
                    if (e.code === 1) {
                        console.log(e)


                        layer.msg(e.msg, {
                            end: function () {
                                window.location.href = e.data;
                            }
                        });
                    }else if (e.code==2){
                       window.location.href = "/index/recharge/offline";
                    } else {
                        console.log(e)

                        layer.msg(e.msg, function () {
                            return false;
                        });
                    }
                },
            });
        }

    });

</script>

<script>
    ;(function () {
        let $list = $(".money .block");
        let $inputBar = $(".uni-input-input");
        $list.on("click", function () {
            $list.eq($(this).index()).addClass("active").siblings().removeClass("active");
            $inputBar.val($(this).text());
            $("#confirm").removeClass("disable");
            $("#confirm").addClass("Confirm");
        })

    }())

    $('#money').blur(function () {
        var money = $('input[name="money"]').val();
        if (money > 0){
            $("#tijiao").addClass("Confirm");
            $("#tijiao").removeClass("disable");
        }
    })

</script>

