<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label label-required">设置分组</label>
            <div class="layui-input-inline">
                <select name="group" class="form-control">
                    {if $info.group == 0}
                    <option value="0">未设置分组</option>
                    {/if}
                    {volist name="group_info" id="vo"}
                    {if condition="($info.group == $vo.id)"}
                    <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                    {else /}
                    <option value="{$vo.id}">{$vo.name}</option>
                    {/if}
                    {/volist}
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">

        <div class="layui-input-block"></div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block"></div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block"></div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block"></div>
    </div>

    <div class="hr-line-dashed"></div>
    <input type="hidden" name="id" value="{$info.id}">
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>
    <script>window.form.render();</script>
</form>
